<div class="signup-bg">

  <div id="signup" class="signup-box">
    <h1 class="form-title">Log-in</h1>

    {{!-- <form action="/signup" method="POST" enctype="multipart/form-data"> --}}
    <form action="/signup" method="POST">
      <label for="input-email">Email</label>
      <input type="email" id="input-email" name="email" placeholder="sheldon_cooper@caltech.edu">

      <label for="input-password">Password</label>
      <input type="password" name="password" id="input-password" placeholder="********">

      <label for="ironhacker"><input type="checkbox" class="ironhacker-check" id="ironhacker" name="ironhacker"
          value="true">I am an Ironhacker</label>

      <button type="submit" class="small-btn blue-btn">Log-in</button>

      {{!-- {{#if errorMessage}} --}}
      {{!-- <p class="error">{{errorMessage}}</p> --}}
      {{!-- {{/if}} --}}
    </form>
  </div>

</div>
