{{!-- VUE A SUPPRIMER ? --}}

<div class="project-card">
  {{#each projects}}
  <img src="{{this.imageUrl}}" alt="">
  <div>
    <p class="project-name">{{this.name}}</p>
    <p class="project-date">{{this.year}}</p>
  </div>
  <div>
    <p class="project-likes">{{this.likes}}72<i class="fas fa-heart"></i></p>
  </div>
    {{/each}}
</div>