<div class="project-card">
  <img src="{{image_url}}" alt="">
  <div>
    <p class="project-name">{{name}}Name</p>
    <p class="project-date">{{year}}2016</p>
  </div>
  <div>
    <p class="project-likes">{{likes}}72<i class="fas fa-heart"></i></p>
  </div>
</div>