<!-- Page content -->
<div class="home content-container">
  <h1 class="home-title">{{title}}</h1>
  <h2 class="home-subtitle">Ironhack projects portfolio</h2>
  <a class="blue-btn big-btn  href=" #"">Watch projects</a>
</div>