/*
Blue Ironhack: rgb(45, 197, 25n0) // #2DC5FA
Grey: #c0c4d0
*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

a {
  color: #c0c4d0;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: #2dc5fa;
}

/***
 *    ######## ##     ## ######## ########  ##    ## ##      ## ##     ## ######## ########  ######## 
 *    ##       ##     ## ##       ##     ##  ##  ##  ##  ##  ## ##     ## ##       ##     ## ##       
 *    ##       ##     ## ##       ##     ##   ####   ##  ##  ## ##     ## ##       ##     ## ##       
 *    ######   ##     ## ######   ########     ##    ##  ##  ## ######### ######   ########  ######   
 *    ##        ##   ##  ##       ##   ##      ##    ##  ##  ## ##     ## ##       ##   ##   ##       
 *    ##         ## ##   ##       ##    ##     ##    ##  ##  ## ##     ## ##       ##    ##  ##       
 *    ########    ###    ######## ##     ##    ##     ###  ###  ##     ## ######## ##     ## ######## 
 */

.content-container {
  padding: 4vw 10vw;
}

.blue-btn {
  background: rgb(45, 197, 250) none repeat scroll 0% 0%;
  color: white;
  border-radius: 0.6rem;
  border: 0px none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.05rem;
}

.blue-btn a:active,
.blue-btn a:hover,
.blue-btn a:focus {
  color: white;
  font-weight: 700;
}

.small-btn {
  padding: 0.4rem 1.2rem;
  // margin-left: auto;
}

.big-btn {
  padding: 1rem 2rem;
  font-size: 1rem;
}

.blue-btn:hover {
  background: rgb(0, 180, 255) none repeat scroll 0% 0%;
}

.fa, .fas {
  font-size: 1.2rem;
}

/***
 *    ########  #######  ########     ##    ##    ###    ##     ## 
 *       ##    ##     ## ##     ##    ###   ##   ## ##   ##     ## 
 *       ##    ##     ## ##     ##    ####  ##  ##   ##  ##     ## 
 *       ##    ##     ## ########     ## ## ## ##     ## ##     ## 
 *       ##    ##     ## ##           ##  #### #########  ##   ##  
 *       ##    ##     ## ##           ##   ### ##     ##   ## ##   
 *       ##     #######  ##           ##    ## ##     ##    ###    
 */

.courses-nav {
  background: white;
  border-bottom: solid 3px #f3f4fa;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
}

.top-nav-items {
  // display: flex;
  // justify-content: space-between;
  // margin-left: auto;
  padding-left: 7vw;
}

.courses a:active,
.courses a:hover,
.courses a:focus {
  display: inline-block;
  background: rgba(45, 197, 250, 0.1);
  // height: 4vw;
  text-align: center;
  border-bottom: solid 3px #2dc5fa;
  // margin-bottom: -6px;
  // padding-top: 6px;
}

.courses-nav ul {
  display: flex;
  list-style-type: none;
}

.courses-nav li {
  padding: 2vw;
}

.ir-logo {
  position: absolute;
  z-index: 1;
  top: 1.1vw;
}

/***
 *    ##       ######## ######## ########         ##    ##    ###    ##     ## 
 *    ##       ##       ##          ##            ###   ##   ## ##   ##     ## 
 *    ##       ##       ##          ##            ####  ##  ##   ##  ##     ## 
 *    ##       ######   ######      ##    ####### ## ## ## ##     ## ##     ## 
 *    ##       ##       ##          ##            ##  #### #########  ##   ##  
 *    ##       ##       ##          ##            ##   ### ##     ##   ## ##   
 *    ######## ######## ##          ##            ##    ## ##     ##    ###    
 */

.left-nav {
  background: white;
  color: #c0c4d0;
  border-right: solid 3px #f3f4fa;
  position: absolute;
  height: 100vh;
  width: 4vw;
  top: 0;
  left: 0;
  padding-top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-nav .ico {
  padding: 3vh 0;
}

.left-nav a:active,
.left-nav a:hover,
.left-nav a:focus {
  background: rgba(45, 197, 250, 0.1);
  width: 100%;
  text-align: center;
  border-right: solid 3px #2dc5fa;
  margin-right: -6px;
  padding-left: 6px;
}

/***
 *    ##     ##  #######  ##     ## ######## 
 *    ##     ## ##     ## ###   ### ##       
 *    ##     ## ##     ## #### #### ##       
 *    ######### ##     ## ## ### ## ######   
 *    ##     ## ##     ## ##     ## ##       
 *    ##     ## ##     ## ##     ## ##       
 *    ##     ##  #######  ##     ## ######## 
 */

.home {
  background: url("../images/home-bg.jpg") no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Exceptionnellement sur la home, pas de background ni border*/
// .courses-nav .home {
//   background: none;
//   border: none;
// }

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: calc(100vh - 7vw);
  padding-top: 10vh;
}

.home-title {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #2dc5fa;
  letter-spacing: 0.2rem;
}

.home-subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  color: #c0c4d0;
  padding-bottom: 5vh;
}

/***
 *     ######  ####  ######   ##    ##    ##     ## ########  
 *    ##    ##  ##  ##    ##  ###   ##    ##     ## ##     ## 
 *    ##        ##  ##        ####  ##    ##     ## ##     ## 
 *     ######   ##  ##   #### ## ## ##    ##     ## ########  
 *          ##  ##  ##    ##  ##  ####    ##     ## ##        
 *    ##    ##  ##  ##    ##  ##   ###    ##     ## ##        
 *     ######  ####  ######   ##    ##     #######  ##        
 */

.signup-bg {
  background: url("../images/background.png") no-repeat center -20vh fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background: #fafbfd;
  border-radius: 6px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  padding: 5vw;
}

.ironhacker-signup-box {
  display: none;
  margin-left: 5vw;
  border-left: 3px solid #f3f4fa;
  padding-left: 5vw;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visitor-signup-box form {
  flex-direction: row;
}

.error {
  align-self: start;
  margin-top: 3vh;
  color: #ff6e6e;
}

.signup-box .small-btn {
  margin-top: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.form-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.form-subtitle {
  color: #2dc5fa;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

label {
  color: #86939e;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 16px 0 8px;
  text-align: left;
  width: 300px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="textarea"],
input[type="number"],
select {
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  padding: 8px 16px;
  width: 300px;
  display: block;
}

::placeholder {
  color: #c0c4d0;
}

.ironhacker-check {
  margin-right: 1vh;
}

.mandatory {
  color: #2dc5fa;
  font-size: 10px;
  text-align: right;
  padding-top: 2vh;
}

/***
 *    ##    ## ######## ##      ##       ########  ########   #######        ## ########  ######  ######## 
 *    ###   ## ##       ##  ##  ##       ##     ## ##     ## ##     ##       ## ##       ##    ##    ##    
 *    ####  ## ##       ##  ##  ##       ##     ## ##     ## ##     ##       ## ##       ##          ##    
 *    ## ## ## ######   ##  ##  ##       ########  ########  ##     ##       ## ######   ##          ##    
 *    ##  #### ##       ##  ##  ##       ##        ##   ##   ##     ## ##    ## ##       ##          ##    
 *    ##   ### ##       ##  ##  ##       ##        ##    ##  ##     ## ##    ## ##       ##    ##    ##    
 *    ##    ## ########  ###  ###        ##        ##     ##  #######   ######  ########  ######     ##    
 */

.grey-bg {
  background: #fafbfd;
  height: 100vh;
}

.general-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 3vh;
}

.new-project-form {
  flex-direction: row;
}

.rank-input {
  display: inline;
}

.project-images {
  margin-left: 7vw;
}


// ########  ########   #######  ######## #### ##       ######## 
// ##     ## ##     ## ##     ## ##        ##  ##       ##       
// ##     ## ##     ## ##     ## ##        ##  ##       ##       
// ########  ########  ##     ## ######    ##  ##       ######   
// ##        ##   ##   ##     ## ##        ##  ##       ##       
// ##        ##    ##  ##     ## ##        ##  ##       ##       
// ##        ##     ##  #######  ##       #### ######## ######## 

// FEEL FREE TO DESTROY  WHATEVER YOU NEED.

#profile { //NEEDED TO SEE WHAT WAS WRITTEN
  margin-left: 100px;
}